/*slider style*/
.mySwiper.swiper {
    position: relative !important;
    width: 96% !important;
    text-align: center !important;
    padding: 20px 0px 50px !important;
}

@media (max-width: 600px) {
    .mySwiper.swiper {
        width: 100% !important;
        padding: 40px 0px 70px;
    }
}

.mySwiper .swiper-slide {
    height: 100% !important;
    margin-right: 16px !important;
}

/* .slide-img {
    width: 60% !important;
    height: 120px;
    padding-bottom: 30px;
    margin-top: 35px
} */

.mySwiper .swiper-button-next, .mySwiper .swiper-button-prev {
    color: white !important;
    background-color: #4C6444 !important;
    /* position: absolute !important; */
    /*top: 10% !important;
    */
    /* right: 5px !important; */
    padding: 23px;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
}

.mySwiper .swiper-button-next {
    right: 0 !important;
}

.mySwiper .swiper-button-prev {
    left: 0 !important;
}

.mySwiper .swiper-pagination-bullet-active {
    background-color: #4C6444 !important;
    /* margin-top: 30px !important; */
}

.mySwiper .swiper-pagination {
    top: auto !important
}

.mySwiper .swiper-button-next::after, .mySwiper .swiper-button-prev::after {
    font-size: 24px !important;
    font-weight: bold !important;
}

/*menu style*/