.swiper.mySwiperBlog {
    position: relative !important;
    width: 96% !important;
    text-align: center !important;
    padding: 20px 0px 50px !important;
}

@media (max-width: 600px) {
    .swiper.mySwiperBlog {
        width: 100% !important;
        padding: 40px 0px 70px;
    }
}

.mySwiperBlog .swiper-slide {
    height: 100% !important;
    margin-right: 16px !important;
}

.mySwiperBlog .swiper-pagination-bullet-active {
    background-color: #4C6444 !important;
    /* margin-top: 30px !important; */
}

.mySwiperBlog .swiper-pagination {
    top: auto !important
}

.mySwiperBlog .swiper-button-prev,
.mySwiperBlog .swiper-button-next {
    background-color: #4C6444 !important;
    color: white !important;
    padding: 23px;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    -ms-border-radius: 120px;
    -o-border-radius: 120px;
}

.mySwiperBlog .swiper-button-prev::after,
.mySwiperBlog .swiper-button-next::after {
    font-size: 24px !important;
    font-weight: bold !important;
}