.MuiListItemText-root .MuiTypography-root {
    font-size: 18px !important;
    font-weight: bold !important
}

.css-1suxfoh-MuiListItemText-root .css-rizt0-MuiTypography-root {
    font-size: 20px !important;
    font-weight: bold !important
}

.MuiButtonBase-root.MuiPaginationItem-root.Mui-selected, .css-4c65qs.Mui-selected {
    background-color: #4C6444 !important;
    color: white !important;
}

.css-11ds6tg .css-fyswvn {
    font-size: 22px !important;
    font-weight: bold !important
}

.css-iu6syc .css-fyswvn {
    font-size: 20px !important;
    font-weight: bold !important;
}

.MuiDialog-container .MuiPaper-root {
    border: 6px solid #4C6444 !important;
    border-radius: 35px  !important;
    -webkit-border-radius: 35px  !important;
    -moz-border-radius: 35px  !important;
    -ms-border-radius: 35px  !important;
    -o-border-radius: 35px  !important;
}
